	body{
		background-image: url("background.png");;
	}

	h1{
		color: #FF2654;
		font-size: 80px;
		font-family: "Crimson Pro", serif;
		font-weight: 900;
		text-align: center;
		padding-right: 45px;
		margin-top: 15px;
		margin-bottom: 35px;
	}

	li {
		display: inline-block;
		list-style: none;
		padding-right: 100px;
		padding-left: 190px;
		margin-bottom: 25px;
	}

	a {
		color: #000000;
		text-decoration: none;
		font-size: 30px;
	}

	a:hover {
		color: #FF5277;
	}

	.home{
  		width: 50px;
  		float: left;
		padding-left: 25px;
		margin-top: 20px;
		background: url('home.png') no-repeat;
  		background-size: contain;
  		position: relative;
	}

	.home:hover {
  		width: 50px;
  		float: left;
		padding-left: 25px;
		margin-top: 20px;
		background: url("life.png") no-repeat;
  		background-size: contain;
  		position: relative;
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#FF2654
	#FF5277
	#FF7C98
	#FFAFC0
	#FFFFFF