	body{
		background-color: #FFAFC0;
	}

	h1{
		color: #FF2654;
		font-size: 75px;
		font-family: "Crimson Pro", serif;
		font-weight: 900;
		text-align: center;
	}

	#primates{
	}

	#FF2654
	#FF5277
	#FF7C98
	#FFAFC0
	#FFFFFF